# MongoDB Configuration
MONGO_URI=mongodb://mongo:27017

# Frontend Configuration
FRONTEND_URL=https://www.minishield.tech

# WAF Configuration
# Update this with your actual server public IP
WAF_PUBLIC_IP=64.227.156.70
